.bingo-game {
  text-align: center;
}

.bingo-grid {
  display: inline-block;
  margin-top: 20px;
}

.bingo-row {
  display: flex;
}

.bingo-cell {
  width: 150px;
  height: 150px;
  border: 1px solid #676767;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

.bingo-cell.selected {
  background-color: lightgreen;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.bingo-winner {
  color: green;
  font-size: 24px;
  margin-top: 20px;
}
